@font-face {
  font-family: "PT Sans";
font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  margin: 0;
  display: flex;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: #F2F2F2;
}

.page-container {
   display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 100%;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  }
 .page-header {
  display: flex;
  width: 1200px;
  height: 64px;
}

  .reasons {
    color: #333333;
    margin: 0 auto 70px;
  }

  .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
}
.main-header {
  color: #000000;
}

.nav-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.user-list {
  min-width: 335px;
  justify-content: end;
  align-items: center;
  list-style: none;
  display: flex;
}

.nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-right: 70px;
  align-items: center;
}
.box-wrap {
    color: #ffffff;
    padding: 102px 85px;
}
.nav-logo {

  position: relative;
  inline-size: 140px;
  margin-bottom: -6px;
  margin-left: 70px;
}
.logo-img {

}

.nav-link {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    color:inherit;
    text-decoration: none;
    padding: 20px 16px;
}

.user-link span {
  color: #ffffff;
  font-size: 10px;
  line-height: 10px;
  background-color: #7db54f;
}

.main-index {
  text-align: center;
  flex-grow: 1;
}

.hero {
  background-color: #564841;
  background-image: url("../images/divider.svg"), url("../images/index-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto, cover;
  background-position: left bottom, left top;
  padding: 50px 0 80px;
}

.advantages-list {
 padding: 0;
 display: flex;
 flex-wrap: wrap;
 margin: 0;
}

.title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0 0 20px;
}

.advantages-title {
  font-size: 24px;
  margin: 0 auto 30px;
  font-weight: 700;
  line-height: 28px;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  color: inherit;
  width: 100%;
  max-width: 175px;
}

.advantages-item-text {
  color: #ffffff;
}
.advantages-item-wide {
  background-color: rgb(130, 179, 211);
  min-height: 385px;
  color: #ffffff;
  box-sizing: border-box;
  display: flex;
}

.advantages-description {
  font-size: 18px;
  line-height: 21px;
  margin:0;
}

.advantages-light {
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
  height: 385px;
  list-style: none;
}
.advantages-dark {
  background-color: rgba(131, 179, 211, 0.2);
  width: 400px;
  height: 385px;
  list-style: none;
}

.subscribe {
  background-color: #756157;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 96px 0 104px;
}

.subscribe-main {
  color: #ffffff;
  background-image:url("../images/subscribe-background.jpg");

}

.subscribe-catalog .title {
  color: #000000;
}

.field {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  background-color: #f2f2f2;
  width: 452px;
  padding: 14px 20px;
  border: none;
  border-radius: 4px 0 0 4px;
}

.social-list {
  list-style: none;
}

.contact-phone {
  color: #000000;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
}

.hotel-header {
  color: #ffffff;
  background-color: #756157;
  background-image: url("../images/filter-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 35px 70px 70px 70px;
}

.catalog-title {
  font-size: 60px;
  line-height: 78px;
  margin: 0 0 8px;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
}

.filter-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0;
}

.filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 32px;
}

.filter-item-label {
    padding: 6px;
    grid-column: 2 / 3;
    grid-row: -1 / -1;
    z-index: 1;
    font-size: 18px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.3);
}

.filter-item-input {
    min-width: 144px;
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    padding: 13px 45px 11px 20px;
    font-family: inherit;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: #000000;
    background-color: #f2f2f2;
    border: none;
    box-sizing: border-box;
}

.control-input {
  font-size: 18px;
  line-height: 23px;
}

.hotels-result {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
}

.hotels-select {
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  background-color: rgba(255, 255, 255, 1);
  width: 292px;
  height: 49px;
  border: 2px solid #E5E5E5;
  margin-left: auto;
  margin-right: 70px;
  color: rgba(51, 51, 51, 1);
  padding: 12px 40px 12px 20px;
}

.hotel-card-title {
    margin: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: left;
    text-decoration: none;
    color: #000000;
}

.hotel-card-link {
  margin: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: left;
    text-decoration: none;
    color: #000000;
}

.hotel-card-price {
  font-size: 18px;
  line-height: 21px;
  display: flex;
  justify-content: space-between;
  color: #333333;
}

.rating-result {
  font-size: 16px;
  line-height: 20px;
  background-color: #f2f2f2;
}


.subscribe-button,
.search-button {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
}

.button {
  font-family: inherit;
  color: #ffffff;
  border-radius: 4px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  border: none;
}

.button-primary {
  background-color: #82b3d3;
  font-size: 16px;
  line-height: 20px;
}

.button-secondary {
  background-color: #756157;
}

.button-added {
  background-color: #7db54f;
}

.filter-reset {
  background-color: transparent;
}


.pagination-link {
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}
.advantages {
  display: flex;
 flex-wrap: wrap;
}

.advantages-dark-white {
  list-style: none;
  width: 400px;
  height: 385px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}
.box-wrap-reverse{
  order: 1;
 padding: 102px 85px;
}
.service-list {
  display: flex;
  padding: 0;
}
.subscribe-form {
 display: flex;
 justify-content: center;
}
.service-item {
  width: 400px;
  height: 385px;
  background-color: #f0f5f9;
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}
.hotels-list {
display: flex;
flex-wrap: wrap;
gap: 20px;
margin: 0;
padding: 0;
}
.breadcrumbs-item {

}
.breadcrumbs {
  display: flex;
}
.filter {
 display: flex;
}
.box-wrap-light {
  padding: 112px 83px;
}
.box-wrap-dark {
  padding: 112px 83px;
}
.hotel-card{
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 20px 19px 18px;
    border: 1px solid #e5e5e5;
    gap: 16px 20px;
    margin-bottom: 20px;
}
.reasons-text {
  color: #ffffff;
  margin: 0 345px 54px;
}
.user-link.button {
padding: 8px 34px;
margin-left: 20px;
font-size: 16px;
}
.main-catalog {
  display: flex;
  flex-direction: column;
}
.hotels-navigation {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.filter-group{
  border: none;
  padding: 0;
  margin: 0;
  min-width: 150px;
  margin-right: 70px;
  border: none;

}
.filter-button-wrapper{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 32px;
  margin-top: 56px;
}
.control {
font-size: 18px;
    line-height: 23px;
    display: flex;
    gap: 16px;
    align-items: center;
}
.filter-input {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2px;
}
.input-wrapper {
  position: relative;
  width: 143px;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 54px;
  align-items: center;

}
.display-cards{
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.button-cards {
  width: 48px;
    height: 48px;
    display: block;
    border: 2px solid #e5e5e5;
    border-radius: 4px;

}
.hotels{
  padding: 50px 70px 60px;
}
.advantages-img{
  width: 800px;
  height: 385px;
}
.advantages-title::after {
    content: "";
    display: block;
    width: 60px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    margin: 30px auto 0;
}
.advantages-item-wide .advantages-title::after {
  border-color: rgba(255, 255, 255, 0.3);
}
.nav-item{
  box-sizing: border-box;
}
.service-description{
  margin: 0;
  font-size: 18px;
  line-height: 21px;
}
.button-current{
  border-color: #000000;
}
.card-price {
  font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
}
.hotel-card-buttons {
  display: flex;
  column-gap: 20px;

}
.hotel-card-button{
  padding: 8px 18px;
}
.filter-submit.button-primary{
  padding: 8px 50px;
}
.search-button{
  font-size: 20px;
    font-weight: 700;
    line-height: 36px;
    padding: 8px 50px;
}
.search{
  max-width: 592px;
    margin: 0 auto;
    padding: 95px 0;
}
.advantages-text{
  max-width: 885px;
    margin: 0 auto;
    padding: 68px 0 36px;
}
